body {
  background-image: url("../../Public/images/background_login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 90%; /* Adjust the width as needed */
  max-width: 400px;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: right;
}

.logo {
  display: block;
  margin: 0 auto 20px;
  max-width: 200px;
}

.title {
  text-align: center;
  font-size: 24px;
  color: #FF5A5F;
  margin-bottom: 20px;
}
  .form-group {
    margin-bottom: 20px;
    
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    color: #666666;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
  }
  
  .form-group input[type="submit"] {
    background-color: #FF5A5F;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }
  
  .form-group input[type="submit"]:hover {
    background-color: #FF7F83;
  }
  
  .overlay{
    background-image: url("../../Public/images/background_login.jpg"); 
  }
  