body {
    background-image: url('../../Public/images/background_login.jpg'); /* Set the background image URL here */
    background-size: cover; /* Adjust the background size */
}

.form-container {
    margin-top: 80px;
    margin-right: 40px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    width: 300px;
    float: right; /* Position the form container on the right */
}

.form-container label {
    display: block;
    margin-bottom: 10px;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-container button {
    width: 49%;
    padding: 8px;
    background-color: #e5c899; /* Updated button color */
    color: white; /* Updated button text color */
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.form-container .suggest-button {
    background-color: #e5c899; /* Updated button color */
    color: white; /* Updated button text color */
}

.form-container .login-link {
    text-align: center;
    margin-top: 10px;
}

.form-container .show-password {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.form-container .show-password input[type="password"],
.form-container .show-password input[type="text"] {
    flex-grow: 1;
    padding-right: 30px;
}

.form-container .show-password .toggle-password {
    margin-left: 10px;
    cursor: pointer;
}

.form-container .message {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.form-container .confirm-message {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.form-container .confirm-message span {
    margin-left: 10px;
    color: red;
}