/* Section Styles */
section {
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

h5 {
  margin-top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f9f9f9;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Button Apply */
.apply-now-button {
  text-align: center;
}

.button {
  display: inline-block;
  background-color: #d4556a;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #FC6C85;
}

/* Dropdown Styles */
form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

select, input[type="file"], input[type="submit"],
input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: 14px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type="file"] {
  background-color: #fff;
}

input[type="submit"] {
  display: block;
  background-color: #d4556a;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #FC6C85;
}